<launch>
<!-- Launch file for Livox AVIA LiDAR -->
	<arg name="map" default="$(find fast_lio)/PCD/scans.pcd" />
    <node pkg="pcl_ros" type="pcd_to_pointcloud" name="map_publishe" output="screen"
		  args="$(arg map) 5 _frame_id:=map cloud_pcd:=map" />

          	<!-- load 2d map -->
	<arg name="2dmap" default="scans.yaml" />
	<node name = "map_server" pkg = "map_server" type = "map_server" args="$(find fast_lio)/PCD/scans.yaml /map:=prior_map"/>


	<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio_localization)/rviz_cfg/localization.rviz" />



</launch>