<launch>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base1" output="screen" clear_params="true" args="/map:=prior_map /odom:=Odometry">
        <rosparam file="$(find Sentry_Nav)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find Sentry_Nav)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find Sentry_Nav)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find Sentry_Nav)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find Sentry_Nav)/param/base_local_planner_params.yaml" command="load" />
    </node>

</launch>